.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.square {
    border: black solid;
}